<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>


<% if allowed?(:users, :update) %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<% if allowed?(:users, :index) %>
<%= link_to 'Back', users_path %>
<% end %>
