<h1>Editing course</h1>

<%= render 'form' %>

<% if allowed?(:courses, :show) %>
<%= link_to 'Show', course_path(@domain.name, @course) %> |
<% end %>
<% if allowed?(:courses, :index) %>
<%= link_to 'Back', courses_path(@domain.name) %>
<% end %>
