<h1>Editing domain</h1>

<%= render 'form' %>

<% if allowed?(:domains, :show) %>
<%= link_to 'Show', @domain %> |
<% end %>
<% if allowed?(:domains, :index) %>
<%= link_to 'Back', domains_path %>
<% end %>
