<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @domain.name %>
</p>


<% if allowed?(:domains, :update) %>
<%= link_to 'Edit', edit_domain_path(@domain) %> |
<% end %>
<% if allowed?(:domains, :index) %>
<%= link_to 'Back', domains_path %>
<% end %>
